body{
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  background-color: #1f2123;
  color: white;
}

a{
  color: inherit;
}

a:hover{
  color: blueviolet;
}

#grid{
  width: 100%;
  min-width: 1362px;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(5, minmax(95vh, auto));
}

#grid > div{
  position: relative;
}